<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="opl.launchType">
    <stringAttribute key="opl.debugModel.ATTR_ELEMENT_ID" value="=hello-cplexR\Run Con\figu\rationsrTSP"/>
    <stringAttribute key="opl.debugModel.ATTR_PROJECT" value="hello-cplex"/>
    <stringAttribute key="opl.debugModel.ATTR_RUN_CONFIG" value="TSP"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/hello-cplex"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
</launchConfiguration>
